*{margin:0 auto;text-align:left}
body{height:100%;margin:0;padding:0;text-align:left;font-size:13px;font-family:arial,helvetica,sans-serif;color:#FFF;background-color:#5d5d5d;background-image:url(../img/gradient_bg.png);background-repeat:repeat-x}
p{color:#000;margin-top:10px}
table,tr,td,th{margin:0}
table{padding:10px 0}
th{text-align:center}
td{padding:5px 20px}
#container{height:auto;min-height:100%;width:960px}
#container h2{padding:10px 0;color:#8f1111}
#container a{text-decoration:none;color:#8f1111}
#header{width:960px;margin:0 auto}
#menu{display:block;float:left;clear:both;width:960px;height:54px}
#navleft ul{list-style:none;padding:0;padding-top:18px;margin-left:auto;width:960px}
#navleft li{list-style:none;padding:0;display:inline}
#navleft li a,#navleft li a:visited{float:left;color:#fff;text-decoration:none;text-align:center;font-size:15px;font-weight:700;padding:0 13px}
#navleft li a:hover{color:#595959}
#navright .social ul{list-style:none;padding:0;padding-top:18px;margin-left:auto;width:960px}
#navright .social li{list-style:none;padding:0;display:inline}
#navright .social li a,#navright .social li a:visited{float:right;color:#fff;text-decoration:none;text-align:center;font-size:25px;font-weight:700;padding:0 13px}
#navright .social li a:hover{color:#595959}
#maincontent{display:inline;float:left;clear:both;width:600px;background-color:#fff;border-radius:15px;margin-top:6px;padding:10px 10px 20px;border:6px solid #595959}
#tourncontent{display:inline;float:left;clear:both;width:100%;background-color:#fff;border-radius:15px;margin-top:6px;padding:0;border:6px solid #595959}
#content{float:left;margin-top:15px;width:66%;border-right:2px solid #595959;margin-right:10px}
#aboutcontent{display:inline;float:left;clear:both;width:925px;background-color:#fff;border-radius:15px;margin-top:6px;padding:10px 10px 20px;border:6px solid #595959}
#about-content{float:left;margin-top:15px;width:100%;margin-right:10px}
#tourn-content{margin:0;float:left;margin-top:0;width:100%;margin-right:0}
#tourn-blurb{float:left;margin-top:15px;width:67%;margin-left:175px}
#videocontent{display:inline;float:left;clear:both;width:97%;background-color:#fff;border-radius:15px;margin-top:6px;padding:10px 10px 20px;border:6px solid #595959}
#video-content{margin:auto;float:left;margin-top:15px;width:100%;margin-right:10px}
#video-blurb{float:left;margin-top:15px;width:67%;margin-left:175px;margin-right:auto}
#sponsorcontent{display:inline;float:left;clear:both;width:62.5%;background-color:#fff;border-radius:15px;margin-top:6px;padding:10px 10px 20px;border:6px solid #595959}
#sponsor-content{float:left;margin-top:15px;width:62.5%;margin-right:10px}
#sponsor-content p{color:#000}
#sponsor-blurb{float:left;margin-top:15px;width:62.5%;margin-right:10px}
#about-blurb{float:left;margin-top:15px;width:600px;margin-right:10px}
#about-blurb ul{list-style:none;color:#000}
#about-blurb h4{margin-top:20px;color:#000}
#sponsor-blurb .spons-pic{display:inline-block;width:15%;height:10%;padding:10px;margin:0 2.5% 2.5%;max-width:22.5%;font-size:16px;font-size:1rem;vertical-align:top}
#blogcontent{display:inline;float:left;clear:both;width:925px;background-color:#fff;border-top-right-radius:15px;border-top-left-radius:15px;border-bottom-right-radius:0;border-bottom-left-radius:0;margin-top:6px;padding:10px 10px 20px;border:6px solid #595959;padding-bottom:3em;border-bottom:0}
#blog{margin-top:20px;margin-left:10px;margin-right:350px;padding-right:20px;border-right:2px solid #8f1111}
.galleria{width:73%;height:300px;background:#fff;padding-top:0;margin-bottom:20px}
.about-head h3{color:#8f1111;font-weight:700;font-size:20px;margin-left:115px}
.about-sam{margin-left:115px;width:100%;height:auto;}
.about-pic{margin-left:125px;width:100px;height:125px}
#content p{padding:0 10px 0 0}
#blurb{float:left;margin-bottom:20px}
#container .link a:hover{font-weight:700}
#rightcontent{float:right;margin-left:5px;margin-top:15px;width:30%}
#leftdiv{float:right;width:295px;min-height:75px;background-color:#fff;border-radius:15px;margin-top:6px;padding:10px 10px 20px;border:6px solid #595959}
#maincontent .link{text-decoration:none;color:#8f1111}
#footer{clear:both;position:relative;z-index:10;height:3em;margin-top:0;background:#8f1111;padding:20px 0 0 40%;font-size:75%}
#footer a{color:#fff;text-decoration:none}
.heading th{color:#8f1111;text-align:center;font-weight:700;margin-top:10px;margin-right:auto;margin-left:auto}
.tournament{border:5px solid #8f1111}
.tournament td,.tournament tr{color:#000;padding:auto;margin-left:10px;margin-right:10px;padding:0 10px 0 0;width:250px;text-align:center}
.heading{font-size:115%}
.tourn-head{margin-left:auto;margin-right:auto}
#tourn-content .tourn-head h2{color:#fff;background:#595959;margin:0}
#tourn-content .tourn-head2 h2{color:#fff;background:#595959;margin:425px 0 0}
.contentpic{display:block;margin-left:auto;margin-right:auto;width:500px;height:250px;border:6px solid #fff;border-radius:20px}
.intopic{float:right;margin:auto;width:94px;height:88px}
.blog-img{margin:20px auto 20px 10px;width:375px;height:200px}
.fb-page{data-height:200px}
.fb-post{margin-top:20px}
ul.rig{list-style:none;font-size:0;margin-left:-2.5%}
ul.rig li{display:inline-block;padding:10px;margin:0 0 2.5% 2.5%;background:#3A3A3A;font-size:16px;font-size:1rem;vertical-align:top;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
ul.rig li img{max-width:100%;height:auto;margin:0 0 10px}
ul.rig li iframe{max-width:100%;height:auto;margin:0 0 10px}
ul.rig li h3{color:#8f1111;margin:10px 0 5px}
ul.rig li p{font-size:.9em;line-height:1.5em;color:#999}
ul.rig.columns-2 li{max-width:47.5%;position:relative;top:0;left:-28px}
ul.rig.columns-3 li{max-width:30.83%}
ul.rig.columns-4 li{max-width:22.5%}
#2015-achievement{float:right;margin-right: 0;}
#about-blurb.2014-achievements{float:left;width: 300px;}
.blog-title{color:#8f1111}
#about-sam{width: 50%; height: 45%; float: left; margin-left: 7%; margin-right: 50%; margin-bottom: 5%; display: block;	}